#loginbox {
    position:fixed;
    width:40%;
    height:50%;
    border:3px solid skyblue;
    top:25%;
    left:30%;
    min-width:600px;
    min-height:400px;
}

#welcome {
    position:absolute;
    width:300px;
    height:300px;
    border:3px solid skyblue;
    background-color:skyblue;
    color:whitesmoke;
    top:15%;
    left:3%;
    font-family:'Microsoft YaHei';
    font-size:1.5em;
}

#login_button {
    position:absolute;
    width:100px;
    height:40px;
    border-radius:10% 5%;
    background-color:#70c9e3;
    color:whitesmoke;
    font-family:'Microsoft YaHei';
    font-size:larger;
    text-align: center;
    top:80%;
    left:55%;
}

#create_button {
    position:absolute;
    width:150px;
    height:40px;
    border-radius:10% 5%;
    background-color:#70c9e3;
    color:whitesmoke;
    font-family:'Microsoft YaHei';
    font-size:larger;
    text-align: center;
    top:80%;
    left:70%;
}

#Account {
    width:300px;
    height:40px;
    position:absolute;
    left:55%;
    top:20%;
    font-family:'Microsoft YaHei';
    font-size:1.5em;
}

#Account_tip {
    width:300px;
    color:gray;
    font-family:'Microsoft YaHei';
    position:absolute;
    left:55%;
    top:28%;
}

#Password {
    width:300px;
    height:40px;
    position:absolute;
    left:55%;
    top:40%;
    font-family:'Microsoft YaHei';
    font-size:1.5em;
}

#Password_tip {
    width:300px;
    color:gray;
    font-family:'Microsoft YaHei';
    position:absolute;
    left:55%;
    top:48%;
}